<div class="container">
    <top-nav-bar [tableOfContents]="toc"></top-nav-bar>
    <header class="row">
        <div class="h1 page-header">My Latest Angular 2 App</div>
    </header>
    <section class="row"><div class="col-md-12"><h4>Sandbox</h4><link-list [nodes]='myNodes'></link-list></div></section>
    <section class="row">
        <!-- Routed views go here -->
        <router-outlet></router-outlet>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <pre><code>{{ toc | json }}</code></pre>
            </div>
        </div>
    </section>
    <footer>
        <copyright></copyright>
    </footer>    
</div>
